body {
    background-color: rgb(253, 126, 126);
    text-align: center;
}

h1, h2 {
    background-color: rgb(250, 105, 105);
}

h1 {
    font-weight: 900;
    text-decoration: underline;
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

img {
    height: auto;
    width: 500px;
}

ul {
    list-style: square;
    text-align: left;
}


ul li a {
    text-decoration: none;
    color: blue;
}